<%= form_with(model: [@greenhouse, plant_sector], local: true) do |form| %>
  <% if plant_sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant_sector.errors.count, "error") %> prohibited this plant_sector from being saved:</h2>

      <ul>
      <% plant_sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>


    

  <% end %>

  <h4>Sector is going to take care of:</h4>

    <%= form.select :plant_id, Plant.all.collect { |p| [ p.name, p.id ] }, {}, class: 'browser-default' %>
    <%= link_to 'Add New Plant Type', new_plant_path %>
    <br>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
