<p id="notice"><%= notice %></p>

<h3>Greenhouse Control Panel</h3>

<div class="container">
<%= link_to 'Work, Bot!', greenhouse_work_path, class: "btn waves-effect waves-light orange" %>
<%= link_to 'Make Days Pass By', greenhouse_environment_aging_path, class: "btn waves-effect waves-light orange" %>
<br><br>
  <%= link_to 'Add Plant Sector', new_greenhouse_plant_sector_path, class: "btn waves-effect waves-light brown" %> 
  <%= link_to 'Plants', plants_path, class: "btn waves-effect waves-light brown" %>
</div>

<h3>Greenhouse Sectors List</h3>

<% @greenhouse.plant_sectors.each do |plant_sector| %>
<div class="container">
  <h5> Sector Number <%= plant_sector.id%> is taking care of <%= plant_sector.plant.name %> </h5>

  <%= link_to "Edit Sector", edit_greenhouse_plant_sector_path(plant_sector) %> | 
  <%= link_to "Remove Sector", greenhouse_plant_sector_path(plant_sector), method: :delete, data: { confirm: "Are you sure?"} %>
  <table class="striped">
    <thead>
      <tr>
          <th>Sector Data</th>
          <th>Plant Data</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Seeded: <%= plant_sector.elapsed_time %> days ago </td>
        <td>Growth Time: <%= plant_sector.plant.growth_time %> days</td>
      </tr>
      <tr>
        <td>Soil Moisture: <%= plant_sector.moisture %></td>
        <td>Needed: <%= plant_sector.plant.soil_moisture %></td>
      </tr>
      <tr>
        <td>Soil Magnesium: <%= plant_sector.magnesium %></td>
        <td>Needed: <%= plant_sector.plant.magnesium %></td>
      </tr>
      <tr>
        <td>Soil Potassium: <%= plant_sector.potassium %></td>
        <td>Needed: <%= plant_sector.plant.potassium %></td>
      </tr>
      <tr>
        <td>Soil Iron: <%= plant_sector.iron %></td>
        <td>Needed: <%= plant_sector.plant.iron %></td>
      </tr>
    </tbody>
  </table>


</div>


  

<% end %>

<br>

<h2>Actions History</h2>
<div id="" style="overflow-y: scroll; height:200px;">


<table>
    <thead>
      <tr>
          <th>Date</th>
          <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @action_entries.each do |action| %>
        <tr>
          <td><%= action.created_at %></td>
          <td><%= action.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  

</div>
<br>




